  .footer-section {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
  }




.footer-section > .center-column > .banner-image {
    display: flex;
    justify-content: center;
  }


 

  